/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
composer.lock
composer.lock
config/app.php
composer.lock
config/app.php
composer.lock
config/app.php
config/app.php
config/app.php
composer.lock
config/app.php
config/app.php
public/img/facebook_icon.png
